.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

html,
body,
#root,
.App,
.MainApp {
  height: 100%;
}

#root {
  background-image: url("./Design/icon.svg");
}

.MainApp {
  background-color: white;
  height: 100%;
  width: 800px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}
